# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NODE_ENV=development

# Database
MONGODB_URI=mongodb://localhost:27017/rheuse

# Payload
PAYLOAD_SECRET=
PAYLOAD_CONFIG_PATH=src/payload/payload.config.ts

# Stripe (get keys from https://dashboard.stripe.com/test/apikeys)
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOKS_SIGNING_SECRET=
